{% extends 'layouts/base.html' %}

{% block search_bar %}
{% endblock %}

{% block content %}
<div class="buttons">
   <button id="actions" onclick="window.location.href='{% url 'inventory' %}'">Show</button>
   <button id="actions" onclick="window.location.href='{% url 'new_product' %}'">Create</button>
   <button id="actions" onclick="window.location.href='{% url 'delete_product' %}'">Delete</button>
   <button id="actions" onclick="window.location.href='{% url 'update_product' %}'">Update</button>
   <button id="actions" onclick="window.location.href='{% url 'report' %}'">Report</button>
</div>
<div class="products">
   <div class="signin">
      <h1>Update existing units </h1>

      <form method="POST">
         {% csrf_token %}
         {{ form.as_p }}
         <button class="submit">
            Update
         </button>
      </form>
   </div>
</div>
{% endblock %}